[defaults]
inventory = inventory/hosts.yml
remote_user = root
host_key_checking = False
roles_path = roles

[privilege_escalation]
# We are already root on OVH. Flip to true if using a sudo user.
become = False