[defaults]
inventory = inventory/hosts.yml
remote_user = root
host_key_checking = False
roles_path = roles
vault_password_file = .vault_pass   # gitignored, or use --ask-vault-pass

[privilege_escalation]
become = False   # we're already root on OVH; we flip this if we switch to a sudo user